Exemplos/2_Consume/WebWCF/WCF_Teste/Connected Services/ServiceReference1/SchoolService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentData" nillable="true" type="tns:StudentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentData" nillable="true" type="tns:ArrayOfStudentData" />
  <xs:complexType name="StudentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentData" nillable="true" type="tns:StudentData" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="tns:ArrayOfClass" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class" nillable="true" type="tns:Class" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass" nillable="true" type="tns:ArrayOfClass" />
  <xs:complexType name="Class">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassID" type="xs:int" />
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Student" nillable="true" type="tns:Student" />
      <xs:element minOccurs="0" name="StudentID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class" nillable="true" type="tns:Class" />
</xs:schema>